.swiper{
  width: 100%;
  height: 100vh;
  text-align: center;
  vertical-align: top;
}

.btn-prev {
  background-image: url(../images/prev.png);
  width: fit-content;
  z-index: 10;
  height: 32px;
  background-position: center center;
}
.btn-next{
  background-image: url(../images/next.png);
  width: fit-content;
  height: 32px;
  background-position: center center;
}